
@keyframes :global(backgroundMove) { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.tile {
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 400% 400%;
  color: white;
  :global {
    animation: backgroundMove 20s ease infinite;
  }

  &:hover {
    cursor: pointer;
  }

  .wrap {
    display: inline-block;
    vertical-align: middle;

    h4, p {
      line-height: 16px;
    }
    h4 {
      margin-bottom: 8px;
    }
  }

  .orbit {
    position: absolute;
  }
}