
#layout {

  .logged-as {
    margin-bottom: 20px;
  }

  ul {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 10px 12px;
        color: #999;
        text-decoration: none;

        &:hover {
          color: #915AA8;
        }
      }
    }
  }
}